.main{
    height: 700px;
    padding-top: 100px;
}
.section{
    border-radius: 5px;
    background-color: #f5f5f5;
    height: 100%;
    padding: 30px;
}
.section input{
    font-size: 1.5rem;
    padding: 5px 10px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

.section ul{
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.section ul li{
    display: flex;


    & p{
        font-size: 1.5rem;
    }

}