.li{
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    padding: 15px;
    background-color: var(--border-strong);
    display: flex;
    flex-direction: column;

    & figure{
        width: 100%;
        height: 155px;
        background-color: #Fff;

        & img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    & p{
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: -webkit-box;
        font-size: .75rem;
        opacity: .7;
    }
    & span{
        display: flex;
        justify-content: center;
        font-size: 1.4rem;
    }
}

h3.titulo{
    text-align: center;
    font-size: 1.3rem;
    padding: 10px 0;
}