:root {
    --text-01: #585858;
    --text-02: #f8f8f8;
    --text-03: #111;

    --text-branco: #f8f8f8;
    --text-preto: #1a1a1a;

    --border-branco: #f5f5f588;
    --border-01: #1a1a1a88;

    --background-01: #ebebeb;
    --background-02: #C9A25F;
    --background-03: #b57e47;
    --background-04:#101010aa;
    --background-05: #fff;
    --background-06:#f5f5f5;
    --background-07:#f5f5f581;
    --background-08:#f5f5f5;

}


[data-tema="escuro"] {
    --text-01: #f8f8f8;
    --text-02: #1a1a1a;
    --text-03: #f5f5f5;

    --text-branco: #f8f8f8;
    --text-preto: #1a1a1a;

    --border-branco: #f5f5f588;
    --border-01: #f5f5f588;

    --background-01: #1A1A1A;
    --background-02: #C9A25F;
    --background-03: #B57E47;
    --background-04:#101010aa;
    --background-05:#5c5c5c;
    --background-06:#222222;
    --background-07:#2e2e2ea1;
    --background-08:#333;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: normal;
    list-style: none;
    text-decoration: none;
    font-family: 'Signika', cursive;
}
img{
    max-width: 100%;
}

button, a{
    display: block;
}

body{
    background-color: var(--background-01);
}
/* #root{
    display: flex;
} */

html{
    scroll-behavior: smooth;
} 
.container{
    width: 1300px;
    margin: 0 auto;
}

@media screen and (max-width: 1350px) and (min-width: 900px) {
    .container{
        width: 850px;
    }
}

@media screen and (max-width: 900px) {
    .container{
        max-width: 95%;
    }
}

