.header{
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1000;
    transition: .5s;
}
.header.scroll{
    background-color: var(--background-04);
}

.section_header{
    height: 100%;
    display: flex;
    justify-content: space-between;

    & a{
        color: var(--text-branco);
        cursor: pointer;
    }
    & svg{
        width: auto;
        height: 27px;
        fill: var(--text-branco);
    }
}

.carrinho{
    position: relative;

    & span{
        position: absolute;
        right: -13px;
        top: -5px;
        background-color: rgba(255, 0, 0, 0.541);
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

    }
}
.section_header.scroll{
    border-bottom: 2px solid var(--border-01);
}

.div_logo{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.logo{
    font-size: 3.5rem;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    /* right: 50%; */
    margin: 0 auto;
}

.ul_header{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}
.ul_header:last-child{
    gap: 30px;
    justify-content: flex-end;
}


/* input pesquisa */
.input_header{
    height: fit-content;
    display: flex;
    gap: 20px;
    
    & svg{
        cursor: pointer;
    }
}
.input_pesquisa{
    padding: 3px 8px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--text-branco);
    color: var(--text-branco);
    font-size: 1rem;
    display: none;
    transition: 1s;
}

.input_visivel{
    display: block;
    width: 200px;
    animation: pesquisa forwards 1s;
}

.tema{
    transition: 1s;
    width: 27px;
    height: 27px;
    position: relative;


    & svg{
        transition: opacity 1s ease-in-out;
        position: absolute;
        top: 0;        
        z-index: 50;
        opacity: 0;
    }

    & svg.active{
        opacity: 1;
        z-index: 100;
    }
}
.li_user{
    position: relative;

    & .link{
        display: flex;
        border: none;
        background-color: transparent;
        flex-direction: row-reverse;
        align-items: center;
        gap: 5px;


        & p{
            width: 27px;
            height: 27px;
            font-size: 1.1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-weight: 800;
            border: 2px solid #f5f5f5;
            cursor: pointer;
            color: #f5f5f5;
        }
    }
}

@keyframes pesquisa {
    0%{
        width: 0;
    }

    100%{
        width: 200px;
    }
    
}



@media screen and (max-width: 750px) {
    .ul_header:first-child{
        display: none;
    }
    .div_logo{
        justify-content: flex-start;
    }
}

