.tabela{
    width: 100%;
    border-collapse: collapse;
    color: var(--text);

    & th {
        padding: 5px;
        font-weight: bold;
        font-size: 1.1rem;
    }
    & td {
        text-align: center;
        padding: 5px;
    }
    & tbody tr:nth-child(odd){
        background: var(--active);
    }
    & td:nth-child(1){}
    & td:nth-child(2){}
    & td:nth-child(3){}
    & td:nth-child(4){}
    & td:nth-child(5){}


    & svg{
        fill: var(--text);
    }
    
    
    & button{
        cursor: pointer;
        margin: 0 auto;
        background: transparent;
        border: none;       

    }
}