.div{
    width: 100%;
}
.tabela{
    height: fit-content;
    width: 100%;
    border-collapse: collapse;
    color: var(--text);
    margin-top: 20px;

    & th {
        padding: 5px;
        font-weight: bold;
        font-size: 1.1rem;
    }
    & td {
        text-align: center;
        padding: 5px;
    }
    & tbody tr:nth-child(odd){
        background: var(--active);
    }


    & svg{
        fill: var(--text);
    }
    
    
    & button{
        cursor: pointer;
        margin: 0 auto;
        background: transparent;
        border: none;       

    }
}