.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

/**********************              Destaques               ************************/

.destaques{
    margin-top: 20px;
    padding: 20px;
    background-color: var(--bg-soft);
    border-radius: 5px;
    width: 80%;

}
h2.titulo{
    color: var(--text);
    font-size: 1.5rem;
    text-align: center;
}

h2.titulo::after{
    width: 75px;
    height: 3px;
    display: block;
    background-color: var(--text-secondary);
    content: '';
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
}

.itens_em_destaque{
    width: 100%;
    overflow-x: auto;

}
.ul_destaque{
    width: fit-content;
    display: flex;
    background-color: var(--text-disabled);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    gap: 10px;
    
}
.li_add{
    width: 300px;
    height: 400px;
    background-color: var(--border-strong);
    border-radius: 5px;
    cursor: pointer;

}

/**********************              Lista de todos os produtos               ************************/

.lista_de_produtos{
    width: 80%;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--bg-soft);
}