.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    width: 100%;
    height: 100%;
    display: flex;
    

}
.img_login{
    width: 100%;
    height: 100%;
    /* background-color: #f5f5f5; */
    display: flex;

    & img{
        object-fit: cover;
    }
}


@media screen and (max-width: 880px) {
    .img_login{
        width: 100%;
        height: 100%;
        /* background-color: #f5f5f5; */
        display: flex;
        display: none;

        & img{
            object-fit: cover;
        }
    }
}
