.section{
    width: 100%;
    min-height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.div_section{
    display: flex;
}


@media screen and (max-width: 1350px) {
    .form_login{
        width: 100%;
        padding: 20px 0;
    }
}

@media screen and (max-width: 900px) {
    .div_section{
        flex-direction: column;
        align-items: center;
    }
    .section{
        width: 100%;
        min-height: 500px;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
    }
}
