.form_login{
    flex: 1;
    border-right: 1px solid #ccc;
    padding: 20px;
}
.div_form{
    width: fit-content;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
.input{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    & input{
        padding: 3px 8px;
    }
}

h2.titulo{
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    color: var(--text-03);
}
h2.titulo::after{
    width: 100%;
    height: 2px;
    background-color: var(--text-03);
    display: block;
    content: "";
    margin: 0 auto;
    margin-top: 10px;
    opacity: .5;
}

.mensagem_erro{
    color: #ff0000;
    margin-top: 20px;
}
.btn_entrar{
    margin-top: 20px;
    padding: 10px 60px;
    font-size: 1.1rem;
    cursor: pointer;
}

@media screen and (max-width: 1350px) {
    .form_login{
        width: 100%;
        padding: 20px 0;
        padding-right: 10px;
    }
}

@media screen and (max-width: 900px) {
    .form_login{
        border: none;
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        padding-bottom: 60px;
    }
}


@media screen and (max-width: 500px) {
    .div_form{
        width: 100%;

        & input{
            width: 100%;
        }
    }
}
