.div_info{
    opacity: 1;
    display: flex;
    flex-direction: column;
    height: max-content;
}
h4.titulo{
    font-size: 1.2rem;
    padding-top: 20px;
    font-weight: 800px;
    color: var(--text-03);
}
.produtos{
    border-top: 1px solid #f5f5f5;
    margin-top: 15px;
    width: 100%;
}
.detalhes_envio{
    width: 100%;
    animation: init 1s forwards;
}
.ul_produtos{
    padding-top: 5px;
    height: fit-content;
    animation: init 1s forwards;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.ul_detalhes_envio{
    display: flex;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
    flex-direction: column;


    & li{
        display: flex;
        flex-direction: column;
        align-items: center;

        & span{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
        }
        & svg{
            width: 50px;
            height: auto;
            rotate: 180deg;
            fill: var(--text-01);
        }
        & div{
            display: flex;
            padding: 20px;
            gap: 20px;
            border: 1px solid var(--text-01);
            border-radius: 3px;

            & p{
                color: var(--text-01);
            }
        }
    }
}
