main.main{
    min-height: 500px;
    padding-top: 80px;
}

.section{
    display: flex;
    align-items: center;
}
h1.titulo{
    width: fit-content;
    margin: 0 auto;
    color: var(--text-03);
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    padding: 20px;
}