.div_pai{
    display: flex;
    gap: 30px;
    align-items: center;
}

.input_pesquisa{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;

    & label{
        color: var(--text);
        font-size: 1.3rem;
    }
    
    & input {
        width: 100%;
        font-size: 1.1rem;
        padding: 5px 10px;
    }
}

.filtro_categoria{
    width: fit-content;
    height: 20px;
    display: flex;
    align-items: center;
    gap: 10px;

    & label{
        font-size: 1.2rem;
        color: var(--text);
    }
    & select{
        font-size: 1.2rem;
        padding: 5px 15px;
    }
    & option{
        font-size: 1.2rem;
    }
}