.main{
    height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
    padding-top: 100px;
    position: relative;
}

.content{
    width: 90%;
    background-color: var(--cards);
    height: fit-content;

}
/********************              BARRA DE PESQUISA              *********************/




/********************              TABELA DE PRODUTOS              *********************/
.content{
    color: var(--text-Primary);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    & table {
        border-collapse: collapse;
   }
    & th{
        font-weight: bold;
    } 
    & th, td {
        border: 2px solid var(--text-Primary);
        padding: 5px 8px;
        text-align: center;
    }

    & th:nth-child(1){
        width: 200px;
    }

    & th:nth-child(2){
        width: 200px;
    }

    & th:nth-child(3){
        width: 200px;
    }

     & th:nth-child(4){
        width: 200px;
    }

    & th:nth-child(5){
        width: 200px;
    }
    & th:nth-child(6){
        width: 200px;
    }

    & td:nth-child(7){
        width: 200px;
        writing-mode: vertical-rl;

        & svg{  
            cursor: pointer;
            width: 18px;
            height: 18px;
            
        }
    }
}