.lista{
    width: 100%;
    height: 100px;
    border: 1px solid #f5f5f5 ;
    padding: 8px;
    display: flex;
    gap: 20px;
}

.figure{
    width: 85px;
    height: 100%;

    & img{
        width: 100%;
        height: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}

h3.titulo{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-01);
}

.info_produto{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.qtd_valor{
    width: 100%;
    display: flex;
    gap: 20px;
    color: var(--text-01);
    align-items: center;
    justify-content: space-between;

    & p, span{
        font-size: .9rem;
    }
}
.btn_produto{
    padding: 5px 20px;
    background-color: #C9A25F;
    border-radius: 3px;
    color: #f5f5f5;
    font-size: .8rem;
}