.section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--bg);
    top: 0;
    left: 0;
}

.content{
    width: 90%;
    background-color: var(--surface);
    position: relative;
    padding: 50px;
    border-radius: 5px;
    border: 1px solid var(--border-strong);
    height: 80%;
}
.button_close{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;

    & svg{
        width: 20px;
        height: 20px;
        fill: var(--text);
    }
}

.content_div{
    overflow-y: auto;
    height: calc(100% - 50px);
}


/***************************                   CODIGO                   ***************************/
.codigo{
    width: 100%;
}
.info{
    width: fit-content;
    display: flex;
    gap: 10px;
    margin: 0 auto;
    
    & h5, span{
        font-size: 1.2rem;
        color: var(--text);
    }
}

.codigo::after{
    width: 100%;
    height: 2px;
    display: block;
    content: '';
    background-color: var(--text-secondary);
    border-radius: 10px;
    margin: 15px 0;
}

/***************************                   Inputs para alterar                   ***************************/
.div_input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.inputs{
    width: 100%;
    padding: 15px 0;
    border: 2px solid var(--text-secondary);
    border-radius: 3px;
    display: flex;
    gap: 20px;
    justify-content: center;

    & input{
        color: var(--text);
        border: none;
        border-bottom: 2px solid var(--text-secondary);
        background-color: transparent;
    }
    & input:focus{
        outline: none;
        border: none;
        border-bottom: 2px solid #ffee00;
    }
}

.descricao{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-height: fit-content;

    & label{
        font-size: 1.2rem;
    }
    & textarea{
        max-width: 100%;
        width: 100%;
        min-width: 100%;
        min-height: 100px;
        font-size: 1.1rem;
        padding: 5px 10px;
    }
}

.imagem_fundo{
    position: relative;
    width: 500px;
    height: 250px;
    border: 1px solid var(--text);
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;

    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
    }
}
.replace_button{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;

    & input{
        display: none;
    }

    & svg{
        width: 100px;
        height: 100px;
        fill: #f5f5f5;
    }
}
.imagem_fundo:hover .replace_button{
    display: flex;
}

/***************************                   Botão salvar                   ***************************/
.botoes{
    display: flex;
    gap: 20px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;

    & button{
        padding: 10px 50px;
        cursor: pointer;
        background-color: var(--text-disabled);
        border-radius: 3px;
        border: 1px solid var(--border-strong);
        color: var(--text-Primary);
    }
    & button:nth-child(1){
        background-color: var(--active);
    }
}