.input{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    & label{
        font-size: 1.1rem;
        color: var(--text-02);
    }
    & input{
        font-size: 1.1rem;
        padding: 4px 10px;
    }
}