.main{
    padding-top: 80px;
}

.section_carrinho{
    min-height: 700px;
    /* background: var(--background-05);    */
}

h1.titulo{
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 10px;
    padding: 15px 0;
    color: var(--text-03);
}

h1.titulo::after{
    width: 50px;
    height: 3px;
    background-color: var(--text-03);
    display: block;
    /* content: ''; */
    border-radius: 50px;
}
.lista_e_sumario{
    display: flex;
    gap: 10px;
    padding: 10px;
    
}

.ul_carrinho{
    background: var(--background-05);   
    background: var(--background-06);   
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.sumario{
    width: 25%;
    height: fit-content;
    border: 1px solid #333;
    background: var(--background-05);   
    background: var(--background-06);   
    border-radius: 5px;
}
h4.titulo{
    font-size: 1.1rem;
    border-bottom: 1px solid var(--text-03);
    padding: 10px 5px;
    color: var(--text-03);
}

.cupom_desconto{
    width: 100%;
    /* background-color: #f5f5f5; */
    padding: 10px 5px;
    display: flex;
    gap: 5px;
    align-items: center;

    & input{
        display: block;
        height: fit-content;
        padding: 3px 5px;
        width: 70%;
    }
    & button{
        height: 30px;
        width: 30%;
        padding: 3px;
        display: block;
        font-size: .85rem;
        cursor: pointer;
    }
}

.subtotal_p{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: var(--text-03);
}
.subtotal_p:first-child{
    opacity: .3;
}

.btn_comprar{
    padding: 5px;
    cursor: default;
    
    & button{
        width: 100%;
        padding: 10px 0;
        margin-top: 10px;
        cursor: pointer;
        background-color: #00a650;
        color: #f5f5f5;
        border: 1px solid black;
        border-radius: 3px;
        
    }

}


@media screen and (max-width: 1350px) {
    .lista_e_sumario{
        flex-direction: column;
        align-items: flex-end;
    }
    .ul_carrinho{
        width: 100%;
    }
    .sumario{
        width: fit-content;
    }
}

@media screen and (max-width: 500px) {
    .sumario{
        width: 100%;
    }
}