/**********************         Tema 02      **********************/
:root {
    --text-01: #333;
    --text-02: #fff;
    --background-01: hsla(0, 0%, 47%, 0.404);
    --background-02: #f5f5f5b6;

    --background: #F8FAFC;
    --cards: #FFFFFF;
    --primary: #2563EB;  
    /*(azul confiável); */

    --secondary: #64748B;
    --success: #16A34A;
    --warning: #F59E0B;
    --error: #DC2626;
    --text-Primary: #0F172A;
    --text-Secondary: #475569;
}


[data-tema="escuro"] {
    --text-01: #fff;
    --text-02: #333;
    --background-01: #f1f6f9;
    --background-02: #333333dc;

    --background: #020617;
    --cards: #020617 ;  /* #0F172A; */
    --primary: #3B82F6;
    --secondary: #94A3B8;
    --success: #22C55E;
    --warning: #FBBF24;
    --error: #EF4444;
    --text-Primary: #E5E7EB;
    --text-Secondary: #94A3B8;
}

/**********************         Tema 01      **********************/
:root {
    --text-01: #333;
    --text-02: #fff;
    --background-01: #777777;

    --background: #F9FAFB;
    --cards: #FFFFFF;
    --primary: #6366F1;  /*(indigo)*/
    --secondary: #6366F1;

    --accent: #22D3EE; /*(ciano)*/
    --success: #10B981;
    --warning: #F59E0B;
    --error: #F43F5E;
    --text-Primary: #111827;
    --text-Secondary: #6B7280;
}


[data-tema="escuro"] {
    --text-01: #fff;
    --text-02: #333;
    --background-01: #f1f6f9;

    --background: #0B1120;
    --cards: #111827;
    --primary: #818CF8;
    --secondary: #818CF8;

    --accent: #22D3EE;
    --success: #34D399;
    --warning: #FBBF24;
    --error: #FB7185;
    --text-Primary: #E5E7EB;
    --text-Secondary: #9CA3AF;
}


/**********************         Global      **********************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: normal;
    list-style: none;
    text-decoration: none;
    font-family: 'Signika', cursive;
}
img{
    max-width: 100%;
}

button, a{
    display: block;
}

body{
    background-color: var(--background);
    overflow: hidden;
}

html{
    scroll-behavior: smooth;
} 

.container{
    width: 1300px;
    margin: 0 auto;
}
.main{
    color: #fff;
    font-size: 3rem;
    /* background-color: #415A77; */
    margin-left: 200px;
    width: calc(100% - 200px);
    height: calc(100vh - 50px);
    overflow: hidden;
}

@media screen and (max-width: 1350px) and (min-width: 900px) {
}

@media screen and (max-width: 900px) {
}

