/**********************         Tema 01      **********************/
:root {
    
    --text-02: #fff;
    --text-Primary: #111827;
    --text-Secondary: #6B7280;






    --text-01: #333;
    --background-01: #777777;

    --background: #F9FAFB;
    --cards: #FFFFFF;
    --primary: #6366F1;  /*(indigo)*/
    --secondary: #6366F1;

    --accent: #22D3EE; /*(ciano)*/
    --success: #10B981;
    --warning: #F59E0B;
    --error: #F43F5E;


    --color-01: #fff;
    --color-02: #1F1F1F;
    --color-01: #333333;

    --background: #F7F7F7;
    --card: #FFFFFF;
    --border: #D1D1D1;
    --text-principal: #1A1A1A;
    --text-secundario: #6B6B6B;
    --text-desabilitado: #9A9A9A;



    --bg: #F7F7F7;
    --bg-soft: #F0F0F0;
    --surface: #FFFFFF;

    --border: #E3E3E3;
    --border-strong: #D1D1D1;

    --text: #1A1A1A;
    --text-secondary: #6B6B6B;
    --text-disabled: #9A9A9A;

    --hover: #ECECEC;
    --active: #E0E0E0;
    
}


[data-tema="escuro"] {
    --text-01: #fff;
    --text-02: #333;
    --background-01: #f1f6f9;
    
    --background: #0B1120;
    --cards: #111827;
    --primary: #818CF8;
    --secondary: #818CF8;
    
    --accent: #22D3EE;
    --success: #34D399;
    --warning: #FBBF24;
    --error: #FB7185;
    --text-Primary: #E5E7EB;
    --text-Secondary: #9CA3AF;
    
    
    --color-01: #121212;
    --color-02: #1F1F1F;

    --background: #121212;
    --card: #1F1F1F;
    --border: #2A2A2A;
    --text-principal: #EAEAEA;
    --text-secundario: #9A9A9A;
    --text-desabilitado: #414141;



    --bg: #121212;
    --bg-soft: #1A1A1A;
    --surface: #1F1F1F;

    --border: #2A2A2A;
    --border-strong: #333333;

    --text: #EAEAEA;
    --text-secondary: #9A9A9A;
    --text-disabled: #6B6B6B;

    --hover: #2A2A2A;
    --active: #333333;




}


/**********************         Global      **********************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: normal;
    list-style: none;
    text-decoration: none;
    font-family: 'Signika', cursive;
}
img{
    max-width: 100%;
}

button, a{
    display: block;
}

body{
    background-color: var(--bg);
    overflow: hidden;
}

html{
    scroll-behavior: smooth;
} 

.container{
    width: 1300px;
    margin: 0 auto;
}
.main{
    color: #fff;
    font-size: 3rem;
    /* background-color: #415A77; */
    margin-left: 200px;
    width: calc(100% - 200px);
    height: calc(100vh - 50px);
    overflow: hidden;
}

@media screen and (max-width: 1350px) and (min-width: 900px) {
}

@media screen and (max-width: 900px) {
}

