.div_entrega{
    display: flex;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

.div_form{
    width: 100%;
    background-color: var(--background-06);
    padding: 40px 0;
    border-radius: 5px;
    display: flex;
    
}

.formularios_de_pagamentos{ 
    flex: 2;
    padding-bottom: 50px;
}
.resumo_de_valore{
    flex: 1;
    border-left: 1px solid black;
    padding-bottom: 50px;
}

h2.titulo{
    color: var(--text-03);
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
}

h4.titulo{
    font-size: 1.3rem;
    text-align: center;
    font-weight: 700;
    padding: 10px 0;
    width: 100%;
    cursor: pointer;
}
.lista_de_pagamentos{
    width: 90%;
    height: fit-content;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & li{
        width: 100%;
        background-color: var(--background-05);
        color: var(--text-03);
        border: 1px solid black;
        border-radius: 3px;
    }
}
.div_pai{
    
}

.btn_pagar{
    width: 90%;
    margin: 0 auto;
    padding: 15px 0;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: #00a650;
    color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}