.lista_carrinho{
    width: 100%;
    height: 100px;
    border: 1px solid var(--text-03);
    display: flex;
    padding: 8px;

    & figure{
        width: 130px;
        height: 100%;
    }
    & img{
        width: 100%;
        height: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}

.textos{
    width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;


    & h2{
        font-weight: 600;
        font-size: 1.1rem;
        padding-top: 5px;
        color: var(--text-03);

        /* max-width: 300px; */
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }
    & p{
        /* max-width: 350px; */
        font-size: .7rem;
        padding-top: 10px;
        opacity: .65;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        color: var(--text-03);
    }
}

.quantidade{
    width: 150px;
    display: flex;
    padding: 10px;
    border: 1px solid var(--text-03);
    border-bottom: none;
    border-top: none;
    align-items: center;
    justify-content: center;
    gap: 10px;


    & svg{
        cursor: pointer;
    }

    & span{
        font-size: 1.2rem;
        color: var(--text-03);

    }
}

.preco{
    width: 170px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.valor_un{
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    color: #00a650;

    & span{
        font-size: 1rem;
    }

}
.preco_total{
    color: #111;
    color: var(--text-03);

}


@media screen and (max-width: 1350px) and (min-width: 900px) {
    .textos{
        width: 300px;
    }
}


@media screen and (max-width: 900px) {
    .textos{
        width: 300px;
    }
}

