.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    border: 1px solid var(--border);
    padding: 15px;
    border-radius: 3px;
    
    & label{
        color: var(--text-Primary);
    }

    & select{
        padding: 6px 10px;
    }
}