.div_pai{
    flex: 1;
    padding: 20px;
    background-color: var(--background-05);
    border-radius: 5px;

}
h3.titulo{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 800;
    padding-bottom: 20px;
    color: var(--text-03);
}
h5.titulo{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 800;
    padding-bottom: 20px; 
    /* color: var(--text-03); */
}

.box_content{
    /* position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 99999999;
    display: flex;
    align-items: center;
    justify-content: center; */


}
/* .form_endereco{
    width: fit-content;
    height: fit-content;
    background-color: #f5f5f5;
    padding: 50px;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
}
.btn_close{
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: auto;
    margin: 10px;
    cursor: pointer;
}
.div_input{
    display: flex;
    gap: 15px;
}
.input{
    padding: 5px 10px;
    font-size: 1.1rem;
    display: block;
    margin-bottom: 10px;
}


.btn{
    padding: 10px 0;
    width: 100%;
    margin-top: 30px;
    cursor: pointer;
}

.btn_add_endereco{
    padding: 15px 0;
    width: 100%;
    cursor: pointer;
    background-color: var(--background-03);
    border: 1px solid black;
    border-radius: 5px;
    color: #f5f5f5;
    margin-top: 20px;
}

.endereco{
    width: 100%;
    min-height: 300px;
    background-color: #f5f5f5;
    padding: 15px;
    margin-top: 20px;
}
.infoEdereco{
    
    & p{
        display: flex;
        gap: 10px;
        width: 100%;
        justify-content: space-between;
        border-top: 1px solid black;
        padding: 5px;
    }
    & p:last-child{
        border-bottom: 1px solid black;
    }
} */

/* Input radio */

/* .radio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--text-03);

}

.radio input {
    display: none;
}

.checkmark {
    width: 18px;
    height: 18px;
    border: 2px solid #030f2e;
    border-radius: 50%;
    position: relative;
}

.radio input:checked + .checkmark {
    border-color: #0e8a9b;    
}

.radio input:checked + .checkmark::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--background-03);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.form_endereco{
    width: 100%;
}

.div_input{
    display: flex;
    gap: 10px;
}
.input{
    margin: 10px 0;
    flex: 1;
    padding: 8px 10px;
    font-size: 1.1rem;
    width: 100%;
}

.btn{
    padding: 10px 0;
    width: 100%;
    margin-top: 30px;
    cursor: pointer;
}

.btn_add_endereco{
    padding: 15px 0;
    width: 100%;
    cursor: pointer;
    background-color: var(--background-03);
    border: 1px solid black;
    border-radius: 5px;
    color: #f5f5f5;
    margin-top: 20px;
}

.conteudo_info{
    width: fit-content;
    padding: 30px;
    background-color: var(--background-04);
    border-radius: 5px;
    margin: 0 auto;

    color: var(--text-03);

    display: flex;
    flex-direction: column;
    gap: 8px;
}