.lista{
    width: 100%;
    background-color: var(--background-05);
    padding: 30px;
    padding-bottom: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
}
.div_header{
    display: flex;
    justify-content: space-between;


    & p{
        color: var(--text-01);
        font-weight: 700;
        font-size: 1.1rem;
        flex: 1;
        text-align: center;
    }
    & span{
        padding-left: 5px;
        font-size: 1.1rem;
    }

    & p:nth-child(1){
        text-align: start;
    }
    /* & p:nth-child(2){} */
    & p:nth-child(3){
        text-align: end;
    }
}

.btn_mais{
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    /* margin-top: 10px; */
    flex-direction: column;
    gap: 10px;

    & svg{
        cursor: pointer;
        width: 30px;
        height: auto;
        fill: var(--text-01);
    }
}
.btn_mais::before{
    width: 100%;
    height: 2px;
    background-color: var(--text-01);
    content: '';
    display: block;
    margin: 0 auto;
    opacity: .5;
}
