/********************************          backgroundo do produto                ************************************/
.img_fundo{
    width: 500px;
    height: 300px;
    border: 1px solid #FFF;
    margin: 0 auto;
    cursor: pointer;
    padding: 5px;
    position: relative;

    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.div_plus{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff3;
    cursor: pointer;

    & svg{
        width: 100px;
        height: 100px;
    }

    & input{
        display: none;
    }
}
