.pesquisar{
    width: 100%;
    height: fit-content;
    background-color: var(--background-05);   
    margin-top: 30px;
    border-radius: 5px;
    padding: 20px;

}

.input_pesquisar{
    width: 80%;
    margin: 0 auto;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 15px;

    & label{
        font-size: 1.25rem;
        color: var(--text-03);
        font-weight: 700;
    }

    & input{
        font: 1.1rem;
        padding: 5px 8px;
        width: 100%;
    }
}