.div_pai_conteudo{
    width: 100%;
    height: 550px;
    display: flex;
    margin-top: 50px;
}


/* Fotos do produto */
.div_fotos_do_produto{
    width: 100%;
    height: 100%;
    /* background-color: #858585; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 2px solid var(--border-01);;
}

.foto_em_destaque{
    height: 80%;

    & img{
        display: block;
        max-height: 100%;
        margin: 0 auto;
    }
}
.ul_miniatura_da_imagens{
    width: 100%;
    height: 20%;
    background-color: var(--background-05);
    display: flex;


    & li{
        height: 100%;
        padding: 5px;

        & img{
            cursor: pointer;
            max-height: 100%;
        }
    }

}

/* Detalhes do produto */
.div_detalhes_do_produto{
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 50px; */
    padding: 10px;
    background-color: var(--background-07);
    margin: 20px;
    margin-top: 0;
}

.nome_e_estoque{
    flex-direction: column;
    display: flex;
    gap: 10px;
    align-items: center;


    & h2.titulo{
        font-size: 2.2rem;
        font-weight: 800;
        color: var(--text-03);
        text-align: center;
    }

    & p{
        display: flex;
        gap: 5px;
        text-transform: uppercase;
        color: rgb(0, 158, 42);
        font-weight: bold;
    }
    & p.sem_estoque{
        color: rgb(255, 0, 0);
    }
}

.paragrafo_de_descricao{
    width: 90%;
    font-size: .95rem;
    text-align: justify;
    opacity: .8;
    color: var(--text-03);
    padding-left: 20px;
    margin: 0 auto;
}


.preco_e_btn{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.preco{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    gap: 15px;
    
    & .p_preco p{
        font-size: 2rem;
        display: flex;
        font-weight: 800;
        color: rgb(0, 158, 42);
        /* background-color: var(--background-07); */
        /* background-color: #2e2e2ea1; */
        padding: 5px;
        border-radius: 3px;


        & small{
            font-weight: 800;
            padding-top: 5px;
            padding-left: 3px;
            font-size: .9rem;
        }
    }
    
    
}

.btn_acoes{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

    & button{
        width: 350px;
        padding: 15px 60px;
        cursor: pointer;
        border: 1px solid black;
        background-color: aliceblue;
        border-radius: 5px;
    }

    & button:nth-child(2){
        background-color: #ff0000;
        color: #f5f5f5;
    }
}


@media screen and (max-width: 1350px) and (min-width: 900px) {
    .nome_e_estoque{

        & h2.titulo{
            font-size: 1.85rem;
            font-weight: 800;
            color: var(--text-03);
            text-align: center;
        }
    }

    .paragrafo_de_descricao{
        font-size: .85rem;
    }

    .btn_acoes{
        gap: 10px;

        & button{
            width: 350px;
            padding: 15px 45px;
        }
    }
}

.produto_adcionado{
    background-color: var(--background-03);
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10000;
    padding: 20px 50px;
    border-radius: 5px;
    font-size: 1.2rem;
    border: 1px solid #f5f5f5;
    color: #f5f5f5;
    animation: 500ms forwards aparecer;

}

@keyframes aparecer {
    0%{
        top: -150px;
        opacity: 0;
    }   
    100%{
        opacity: 1;
    }
}