.main{
    padding-top: 80px;
}

.section{
    min-height: 500px;
    
}

.div_de_produtos{
    padding: 20px;
    background-color: var(--background-05);    
    margin-top: 30px;
    border-radius: 5px;
}

.ul_de_produtos{
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.paginas{
    display: flex;
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 1.2rem;
}

@media screen and (max-width: 830px) {
    .ul_de_produtos{
        justify-content: space-evenly;
    }
}
