.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


h1.titulo{
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-02);
    text-align: center;

}
h1.titulo::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--text-02);
    margin-top: 5px;
    border-radius: 5px;
    
}

.form{
    background-color: #555;
    padding: 40px;
    border-radius: 5px;
    width: 360px;
}

.div_input{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 30px 0;
}

.btn{
    padding: 10px 0;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid rgb(41, 138, 65);
    font-size: 1.1rem;
    transition: 500ms;
}

.error{
    color: red;
    font-size: 1.1rem;
}