section.section{
    height: fit-content;
    background-color: var(--background-05);
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

h4.titulo{
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--text-03);
}

.lista_produtos{
    overflow-x: auto;
    padding: 10px;
}


.ul_produtos{
    width: fit-content;
    height: 100%;
    gap: 20px;
    display: flex; 
    justify-content: space-between;
    margin-top: 15px;
}