h2.titulo{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: var(--text-Primary);
}
h2.titulo::after{
    width: 95%;
    height: 2px;
    background-color: var(--text-Primary);
    content: '';
    display: block;
    border-radius: 10px;
    margin: 10px auto 15px auto;
}
.main{
    width: 100%;
    height: 100%;
    padding-top: 10px;
    overflow-y: auto;
}
.section{
    width: 95%;
    max-width: 1200px;
    min-height: 500px;
    background-color: var(--surface);
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
}