.main{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 3rem;
    margin-left: 200px;
    width: calc(100% - 200px);
    height: calc(100vh - 50px);
    overflow: hidden;
}
.section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    width: 80%;
    min-height: 500px;
    background-color: var(--primary);
    border-radius: 5px;
}



/**********************************             Mais acessados             **********************************/
.links{
    width: 250px;
    height: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: center;
    justify-content: center;     */
    padding: 20px;
    gap: 20px; 
    /* background-color: #fff; */
    border-right: 1px solid var(--text-Secondary);

    & li{
        width: 100%;
    }
    & a{
        width: 100%;
        background-color: var(--cards);
        color: var(--text-Primary);
        padding: 20px 0;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        font-size: 1.25rem;
    }
}
h2.titulo{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-Primary);
}
h2.titulo::after{
    width: 100px;
    height: 3px;
    background-color: var(--text-Primary);
    content: '';
    display: block;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 5px;
}