.input{
    display: flex;
    flex-direction: column;
    gap: 5px;


    & label{
        color: var(--text);
        font-size: 1.1rem;
    }
    & input{
        font-size: 1.1rem;
        padding: 4px 10px;
    }

}