.input_data{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    & label{
        font-size: 1.1rem;
        color: var(--text);

    }
    & input{
        font-size: 1.1rem;
        padding: 5px 10px;
        width: 100%;
    }
}